<p>Last render took: {{renderMessage}}</p>
{{#if rendered}}
  <button {{action (mut rendered) false}}>Reset</button>
  {{#render-timer onRender=(action (mut renderSpeed))}}
    {{display-value key="main" value=data}}
  {{/render-timer}}
{{else}}
  <button {{action (mut rendered) true}}>Go</button>
{{/if}}
